<div class="container" >
  <h2>Welcome in your movie's list !</h2>
    <ul>
        <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
        <% end %>
    </ul>

  <%= link_to new_list_path,
              method: :create,
              class:"btn btn-light" do%>
  <i class="fa-solid fa-pen">New list</i>
  <% end %>

  <%# <h1>All movies</h1>
  <ul> %>
    <%# <% @movies.each do |movie| %>
      <%# <li> %>
        <%# <%= movie.title %>
      <%# </li> %>
    <%# <% end %>
  <%# </ul> %>
</div>
